<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>625451719377-1ecpqbmdo534ocoueh7pgi73atvu6jkf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.625451719377-1ecpqbmdo534ocoueh7pgi73atvu6jkf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>625451719377-7n7o2kcdg8khjjiqhmt88hevs4atduih.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDWZZf15EgHmScmP021jc3VkzodrfutkwA</string>
	<key>GCM_SENDER_ID</key>
	<string>625451719377</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.divine.divineApp</string>
	<key>PROJECT_ID</key>
	<string>divine-fed08</string>
	<key>STORAGE_BUCKET</key>
	<string>divine-fed08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:625451719377:ios:3ff51a3ed9cb902655c3f0</string>
</dict>
</plist>